.loginpagemain{
    background-color:#FCFAFA ;
}

.loginpage23 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #FCFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}
.loginpage23 .login_title{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding-inline: 3rem;
    color:#4F4F4F;
}
.loginpage23 .login_content{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginpage23 .login_form{
    padding: 3rem 8%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginpage23 .form_group{
    padding: .3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
}
.loginpage23 .form_group label,
.loginpage23 .form_group input,
.loginpage23 .button{
    width: 12rem;
   
}
.loginpage23 .form_group label{
    font-size: 1em;
    color:#667085;
    padding: .3rem .2rem;
}
.loginpage23 .form_group input{
    height: 2rem;
    padding: .3rem .4rem;
    width: 100%;
    border: 1px solid #A7A7A7;
    border-radius: 3px;
}
.loginpage23 .form_group input:focus{
    outline: 1px solid #2D88D4;
    border: none;
}
.loginpage23 .form_group .input_wrapper{
    width: 100%;
    position: relative;
}
.loginpage23 .form_group .input_wrapper i{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1rem;
    cursor: pointer;
    color: #A7A7A7;
}
.loginpage23 .button{
    height: 2rem;
    background-color: #2D88D4;
    border-radius: 3px;
    border: none;
    color: #fff;
    margin-top: 3vh;
}

.loginpage23 .login_progress{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loginpage23 .login_progress .progress_item{
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginpage23 .login_progress .progress_item .progress_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D88D4;
    color:#fff;
    padding: .2rem;
    border-radius: 50%;
    font-size: 1rem;
    margin-bottom: .8rem;
    z-index: 1;
}
.loginpage23 .login_progress .progress_item .disabled{
    background-color:#DCDCDC;
    color:#fff;
}
.loginpage23 .login_progress .progress_item .progress_text{
    font-size: 1rem;
    color:#4F4F4F;
}
.loginpage23 .login_progress .progress_wrapper{
    position: absolute;
    width: 45%;
    top: 35%;
    display: flex;
    justify-content: center;
    z-index: 0;
}
.loginpage23 .login_progress .progress_bar{
    width: 75%;
    height: 3px;
    background-color: #E4E7EC;
}

.loginpage23 .login_or_register{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: .8rem;
}

.already_have_a{
    text-decoration: none;
    color: #2D88D4;
}

/* ################################################## media query for phone  */

@media (max-width: 590px){
    .loginpage23 .register_title{
        font-size: 1rem;
    }
    .loginpage23 h4,
    .loginpage23 li
    {
        font-size: .8rem;
    }
    .loginpage23 .form_group input{
        height: 1.9rem;
        font-size: .9rem;
    }
    .loginpage23 .login_or_register{
        gap: 5%;
        font-size: .7rem;
    }
    .loginpage23 .login_progress .progress_bar{
        width: 200%;
    }
    .loginpage23 .login_progress .progress_item .progress_text{
        font-size: .7rem;
        color:#4F4F4F;
    }
}

@media (max-width: 1024px){
    .loginpage23 .login_progress{
        width: 60%;
    }
  
    
}
